@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/LocalStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <h1>Gestion Locales</h1>
        <p>el pepe</p>
        <p>ete sech</p>
    </div>
</body>
</html>
